<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Заявка на ремонт - Администратор</title>
	<link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body>
	<table>
		<tr>
			<th>Дата создания</th>
			<th>Дата завершения</th>
			<th>Статус</th>
			<th>Кабинет</th>
			<th>Ф.И.О. Заказчика</th>
			<th>Телефон заказчика</th>
			<th>Неисправности</th>
		</tr>
		{{#each request}}
		{{#with this}}
		<tr>
			<td>{{created_at}}</td>
			<td>{{done_at}}</td>
			<td class="{{statusClass}}">{{status}}</td>
			<td class="row-to-click">{{cabinet}}</td>
			<td class="row-to-click">{{client}}</td>
			<td class="row-to-click">{{client_phone}}</td>
			<td class="row-to-click">{{defects}}</td>
			<td class="row-1 row-to-expand hide-row">Описание неисправности:<br>{{defect_description}}</td>
			<form method="post" action="/support/dashboard" id="{{_id}}"><input type="hidden" name="_id" value="{{_id}}" />
			</form>
			<td class="row-2 row-to-expand hide-row">
				Ф.И.О исполнителя:
				<input form="{{_id}}" type="text" name="technician" id="technician" value="{{technician}}">
				<input form="{{_id}}" type="submit" id="submit" value="Сохранить">
				<br>
				Проделанные работы:
				<br>
				<textarea form="{{_id}}" name="performed_works" id="performed_works" value="{{performed_works}}"></textarea>
			</td>
		</tr>
		{{/with}}
		{{/each}}
	</table>
	<form method="get" action="/support/dashboard">
		<input type="text" name="limit" value="{{limit}}">
		<input type="text" name="page" value="{{page}}">
		<input type="submit" value="ok">
	</form>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/dashboard.js"></script>
</body>

</html>